<h1>{{title}}</h1>
<input
type="text"
[(ngModel)]="searchTerm"
(input)="filterData()"
placeholder="Search by name, age, or city"
class="input-tag"
/>
<table>
  <thead>
    <tr>
      <th (click)="sortData('name')">Name</th>
      <th (click)="sortData('age')">Age</th>
      <th (click)="sortData('city')">City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of sortedData">
      <td>{{ row.name }}</td>
      <td>{{ row.age }}</td>
      <td>{{ row.city }}</td>
    </tr>
    <!-- <tr *ngFor="let person of filteredData">
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.city }}</td>
    </tr> -->
  </tbody>