table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th {
    cursor: pointer;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
//   th:hover {
//     background-color: #ddd;
//   }
  
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
  }
  .input-tag{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
//   tr:nth-child(even) {
//     background-color: #f9f9f9;
//   }